@import "src/styles/colors";

.tabsContainer {
  color: $secondary;
  margin-right: 90px;
  font-weight: 500;
  font-size: 18px;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.infoContainer {
  flex: 1;
}

.footer {
  font-size: 15px;
}