@import "src/styles/colors";

.tabsCard {
  display: flex;
  margin-left: 30px;
}

.icon {
  margin-right: 10px;
  padding-top: 25px;
}

.lightContainer {
  background-color: white;
}

.darkContainer {
  background-color: black;
  height: 350vh;
}