@import "src/styles/colors";

.card {
  margin: 10px;
  flex: 1;
}

.rating {
  position: absolute;
  color: $white;
  border-radius: 5px;
  padding: 2px 8px;
  margin-left: 10px;
}

.image {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.genre {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}

.noPoster {
  color: $white;
  display: flex;
  justify-content: end;
  margin-bottom: 253px;
  margin-top:30px;
  width: 160px;
}
