@import "src/styles/colors";

.card {
  position: relative;
  margin: 15px;
  flex: 1;
}

.rating {
  position: absolute;
  color: $white;
  border-radius: 5px;
  padding: 2px 8px;
  margin-left: 10px;
  margin-top: 20px;
}

.image {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.genre {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $light;
}

.noPoster {
  color: $white;
  display: flex;
  justify-content: end;
  margin-bottom: 280px;
  width: 160px;
}

.lightName {
  color: $graphite;
}

.lightNoPoster {
  color: $graphite;
}

.savedIndicator {
  position: absolute;
  top: 20px;
  margin-left: 150px;
  font-size: 20px;
  background-color: $graphite;
  padding: 2px 10px;
  border-radius: 6px;
}

.genres {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  > div {
    position: relative;
    color: $light;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      width: 4px;
      background-color: $light;
      border-radius: 50%;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child::before {
      display: none;
    }
  }
}
