@import "/src/styles/colors.scss";

.tab {
  display: flex;
  cursor: pointer;
  color: $secondary;
  width: 150px;
  &:hover {
    color: $primary-secondary;
  }
}

.active {
  color: $primary;
}

.disabled {
  color: $graphite;
  &:hover {
    cursor: not-allowed;
    color: $graphite;
  }
}
