@import "src/styles/colors";

.signUpContainer {
  background-image: url("../../img/signInBG.png");
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
}

.additionalInfo {
  color: $secondary;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.signUp {
  color: $primary;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.input {
  margin-bottom: 40px;
}
