@import "src/styles/colors";

.icon {
  margin-right: 10px;
  padding-top: 25px;
}

.tabsCard {
  display: flex;
  margin-left: 30px;
}

.trendsCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.lightContainer {
  background-color: $white;
  height: 100vh;
}

.darkContainer {
  background-color: $black;
  height: 470vh;
}

.trendsCard {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
}